.rss-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eeeeee;
}

.rss-menu {
  display: grid;
  height: 24px;
  margin-right: 15px;
  cursor: pointer;

  .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000000;
  }
}

.bookmarks {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: 20px;
  align-items: center;
  padding: 10px 10px 8px 10px;
  border-bottom: 1px solid rgb(197, 195, 195);

  .logo {
    width: 80px;
    margin-right: 15px;
    cursor: pointer;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;

    &:hover {
      transition: all 0.2s ease-in-out;
      border-bottom: 1px solid #000;
    }
  }

  .logo.Lsm-lv {
    width: 15px;
  }

  .logo.Un-org {
    width: 25px;
  }
}

.title {
  font-size: 18px;
  padding: 5px 10px;
}

.content {
  height: 300px;
  overflow: auto;
  text-align: justify;
  padding: 10px;
}

.content::-webkit-scrollbar {
  width: 10px;
  background-color: #eeeeee;
  // background-color:#AAAAAA;
  border-radius: 5px;
}

.content::-webkit-scrollbar-thumb {
  background-color: #008080;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
  &:hover {
    background-color: #53a0ee;
  }
}

.topic {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px;
  margin: 5px 0;

  .topic-img {
    width: 60px;
  }

  .topic-link {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.number-pages {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  opacity: 0.8;

  .nav-page span:nth-child(n) {
    font-size: 14px;
  }
}

.prev-page:hover,
.next-page:hover {
  cursor: pointer;
  transform: scale(1.4);
  opacity: 1;
}
