main {
  width: 100%;
  height: calc(100vh - 120px);
  background-color: var(--accent-color-light);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.block {
  width: 400px;
  background-color: var(--app-background-color);
  margin: 5px;
  height: fit-content;
  outline: 1px solid blue;
}
