h3 {
  font-size: 22px;
  font-weight: bold;
  padding: 10px 22px;
  height: 45px;
  background-color: #EEEEEE;
}

.currencyList{
  display: flex;
  justify-content: space-between;
}

.currencyList p{
  font-size: 0.7rem;
  margin: 5px;
}

.currencyChoiceBlock{
  display: flex;
  justify-content: space-around;
}

#line-chart{
  height: 300px;
}