h3 {
  font-size: 30px;
}

.currencyList{
  display: flex;
  justify-content: space-between;
}

.currencyList p{
  font-size: 0.7rem;
  margin: 5px;
}

.currencyChoiceBlock{
  display: flex;
  justify-content: space-around;
}

#line-chart{
  height: 300px;
}