.menu-content {
  height: 74vh;
  padding: 10px;
  overflow: auto;
}

.menu-content::-webkit-scrollbar {
  width: 10px;
  background-color: #eeeeee;
  border-radius: 5px;
}

.menu-content::-webkit-scrollbar-thumb {
  background-color: #008080;
  border-radius: 9em;
  -webkit-box-shadow: inset 1px 1px 10px #f3faf7;
          box-shadow: inset 1px 1px 10px #f3faf7;
}

.menu-content::-webkit-scrollbar-thumb:hover {
  background-color: #53a0ee;
}

.website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px;
}

.website:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: rgba(78, 167, 166, 0.6);
  border-radius: 9em;
  -webkit-box-shadow: inset 1px 1px 10px #f3faf7;
          box-shadow: inset 1px 1px 10px #f3faf7;
}

.website .website-logo {
  width: 24px;
  margin-right: 15px;
}

.form {
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
  padding: 10px;
}

.name,
.url {
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
}

.url-input,
.name-input {
  border: 1px solid #cecece;
  background: #f6f6f6;
  border-radius: 8px;
  padding: 5px;
  font-size: 0.8rem;
}

.url-input:invalid,
.name-input:invalid {
  border-color: red;
  color: red;
}

.btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.delete {
  background-color: gray;
  margin: 0 15px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #f6f6f6;
  font-size: 0.8rem;
}

.delete:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
}

.delete:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.submit {
  background-color: #007bff;
  margin: 0 15px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #f6f6f6;
  font-size: 0.8rem;
}

.submit:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
}

.submit:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.danger-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.danger {
  background-color: #dc3545;
  margin: 0 15px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #f6f6f6;
  font-size: 0.8rem;
}

.danger:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
}

.danger:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media (max-width: 1700px) {
  .btn-block {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 20px;
  }
  .submit {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .danger-block {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=popular-menu.css.map */